

.news_post1{
    height: 90vh;
}

@media (max-width: 1200px) {
    .news_post{
        margin-left: 0%;
        margin-right: 0%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .img{
        width: 100%;
        height: 50vw;
    }

    .news_image{
       
        width: 100%;
        height: 50vw;
    }
}

@media (min-width: 1200px)  {
    .news_post{
        margin-left: 7%;
        margin-right: 7%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .img{
        width: 100%;
        height: 500px;
    }

    .news_image{
        
        width: 100%;
        height: 500px;
    }
}


.news_title{
    margin-top: 0px;
    margin-bottom: 5px;
}
.news_date{
    display: flex;
    justify-content: right;
    margin-top: 0%;
    margin-bottom: 5px;
}

.news_content{
    margin-top: 2px;
    margin-bottom: 0px;
}
.news_source{
    margin-top: 0px;
}
.news_source_name{
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bnts{
    display: flex;
    flex-direction:row ;
    height: 50px;
    justify-content: center;
    align-items: baseline;
    margin-top: auto;
 
}
.bnt_block{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50px;

}
.previous_bnt{
    height: 50px;
    font-size: large;
    width: 100px;
    background-color: white;
    border: none;
    color: blue;
}
.next_bnt{
    height: 50px;
    font-size: large;
    width: 100px;
    background-color: white;
    border: none;
    color: blue;
}
.prev_span{
    height: 50px;
    font-size: large;
    width: 100px;
    background-color: white;
    border: none;
    color: rgb(211, 211, 211);
}
.next_span{
    height: 50px;
    font-size: large;
    width: 100px;
    background-color: white;
    border: none;
    color: rgb(211, 211, 211);
}


